@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&family=Parisienne&display=swap');

/* 
fonts

font-family: 'Handlee', cursive;
font-family: 'Clicker Script', cursive; ==> use for big text h1
font-family: 'Noticia Text', serif; 
font-family: 'Roboto', sans-serif;
 */

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;

     /* dont use high contrast color like full black or full white for text that is to be read coz it will be difficult to read for eye*/ 
    color: #40514E;
}

:root {
    --top-font: #66bfbf;
}

.top-container {

    /* background-color: #caf8f2; */
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
  
    }

    /* .heading {
        color: var(--top-font);
        font-family: 'Parisienne', cursive;
        font-size: 5rem;
        font-weight: 500;
        margin: 50px auto 0 auto;
    } */

    .whoami {

        /* color: var(--top-font); */
        font-family: 'Roboto', sans-serif;
        /* font-weight: 500; */
        /* line-height: 1.1; */
        font-size: 2rem;
    }

    .top-cloud {
        position: absolute;
        right: 250px;
        top: 40px;
     }
 
     .bottom-cloud {
         position: absolute;
         left: 250px;
         bottom: 300px;
     }

    .mountain {
        position: relative;
        top: 4px;
    }
 
    h1 {
        color: var(--top-font);
        font-family: 'Parisienne', cursive;
        font-size: 5rem;
        font-weight: 500;
        margin: 50px auto 0 auto;

    }

    h2 {
        color: var(--top-font);
        font-family: 'Roboto', sans-serif;

        font-size: 2.5rem;
        font-weight: normal;
        padding-bottom: 10px;
    }

    h3 {
        color: #11999E;
        font-family: 'Roboto', sans-serif;
    }



p {
    font-family: 'Noticia Text', serif;
    line-height: 2;

}

hr {
    margin: 4rem auto;  
    /*
    be careful that u might write 4rem auto 4rem auto
    coz i wrote that and i feel stupid
   its way more less to write 4rem auto only  
    */
    border: #EAF6F6 dotted 5px;
    border-bottom: none;
    width: 5%;
}

.middle-container {
    margin: 5rem auto;

}

    .profile-pic {
        width: 25%;
        border-radius: 50%;
        margin-bottom: 1rem;

    }

    .profile {
        margin: auto;
        line-height: 2;
        width: 40%;
    }

    .artist {
        width: auto;
        float: left;
        margin-right: 30px;

    }

    .hacker {
        width: auto;
        float: right;
        margin-left: 30px;
    }

    .skill-row {
        margin: 100px auto;
        width: 50%;
        text-align: left;
  
    }




.contact-me {
    margin: 7rem auto;

    width: 50%;
}

    .get-in-touch {
        margin: 2rem auto 1.7rem auto;
    }

    .contact-message {
        margin: 40px auto 60px auto;
    }

    .btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;

    }
    
    .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
    }



.bottom-container {
    background-color: #66bfbf;
    padding: 2.5rem 0;
    line-height: 4;
}

    .footer-link {
        color: #11999E;
        font-family: 'Roboto', sans-serif;
        margin: auto 2.5rem;
        text-decoration: none;
        font-size: 18px;
    }

    .footer-link:hover {
        color: #EAF6F6;

    }

    .copyright {
        color: #EAF6F6;
        font-size: 0.85rem;
    }



    
    



